<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/images/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supercar Inc.</title>
    <script src="cdn.jsdelivr.net" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" crossorigin src="/assets/index-D8Rhp-Qu.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-BLp2lIWI.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
